:root {
    font-family: "Merriweather", serif;

    --color-light: white;
    --color-dark: #0D132D;
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
    :root {
        color: var(--color-light);
        background-color: var(--color-dark);
    }
}

/* Light Mode Styling */
@media (prefers-color-scheme: light) {
    :root {
        color: var(--color-dark);
        background-color: var(--color-light);
    }
}

* {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
}

a {
    color: #4e88c7;
    text-decoration: none;
}

.stack > * + * {
    margin-block-start: 1.5rem;
}

.stack-small > * + * {
    margin-block-start: 1.25rem;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.sidebar {
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 40rem;
  flex-grow: 999;
}

.box {
    padding: 0.75rem;
}

.box * {
    color: inherit;
}

.center {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    box-sizing: content-box;
    max-inline-size: 60ch;
    margin-inline: auto;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

img {
  max-inline-size: 100%;
}

label {
    display: block;
    font-weight: 700;
}

header {
    padding: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5rem;
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

main {
    display: block;
}

table {
    border-collapse: collapse;
}

table, th, td {
    margin: auto;
    border: solid;
    padding: 0.5rem;
}

caption {
    caption-side: bottom;
    padding: 1rem;
}
