* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    margin: 0;
}

.stack > * + * {
    margin-block-start: 1.5rem;
}

.stack-small > * + * {
    margin-block-start: 1.25rem;
}

label {
    display: block;
    font-weight: 700;
}

header {
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5rem;
}

nav {
    width: fit-content;
}

nav ul {
    list-style-type: none;
    display: block;
    padding: 0;
    direction: ltr;
}

main {
    max-width: 40rem;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    margin: auto;
    border: solid;
    padding: 0.5rem;
}

caption {
    caption-side: bottom;
    padding: 1rem;
}

main img {
    width: 100%;
    border: solid;
}

main figure figcaption {
    caption-side: bottom;
    text-align: center;
    padding: 1em;
}

main form {
    padding: 1em;
}

main form textarea {
    width: 95%;
}
