/* Text */
:root {
    font-family: "Merriweather", serif;
}

/* Sizing */
:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
}

/* Colors */
:root {
    --surface: #fff;
    --surface-container: #ddd;
    --on-surface: #000;

    --inverse-surface: #000;
    --inverse-on-surface: #fff;
}

/* Dark Mode Styling */
@media (prefers-color-scheme: light) {
    :root {
        color: var(--on-surface);
        background-color: var(--surface);
    }
}

/* Light Mode Styling */
@media (prefers-color-scheme: dark) {
    :root {
        color: var(--inverse-on-surface);
        background-color: var(--inverse-surface);
    }
}

* {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    margin: 0;
}

.box {
    padding: attr(data-padding type(<length>), var(--s1));
}

/* using *= in case element has more than one class */
[class*="stack"] > * {
    /* top and bottom margins in horizontal-tb writing mode */
    margin-block: 0;
}

.stack {
    --stack-spacing: attr(data-spacing type(<length>), var(--s1));
}

.stack > * + * {
    margin-block-start: var(--stack-spacing);
}

.center {
    padding-inline-start: var(--s1);
    padding-inline-end: var(--s1);
    box-sizing: content-box;
    max-inline-size: attr(data-measure type(<length>), 60ch);
    margin-inline: auto;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: attr(data-spacing type(<length>), var(--s1));
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: attr(data-spacing type(<length>), var(--s1));
    height: 100%;
    width: 100%;
}

.with-sidebar[data-dir-col] {
    flex-direction: column;
}

.with-sidebar > :first-child {
    flex-grow: 1;
}

.with-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    overflow-y:auto
}

.tall {
    height: 100%;
}

img {
    max-inline-size: 100%;
}

label {
    display: block;
}

header {
    border-bottom: solid;
}

p {
    line-height: var(--s1);
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

html, body {
    height: 100%;
}

textarea {
    resize: none;
    display: block;
    width: 100%;
}

pre, code {
    background-color: var(--surface-container);
}

pre {
    padding: var(--s1);
}
