<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diego</title>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <header>
        <h1>Diego Gutierrez</h1>
    </header>
    <main>
        <p>
            Hi 👋! My name is Diego Gutierrez and here is my website. The table below has some of my blog posts.
        </p>

        <table>
            <caption>Index of articles on this website</caption>
            <tr>
                <th>Article</th>
            </tr>
            
            {{range .IndexEntries}}
            <tr>
                <th><a href="/view/{{.Id}}">{{.Title}}</a></th>
            </tr>
            {{end}}
            
        </table>
    </main>
</body>
</html>